.property-card {
  border: 5px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.property-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.property-name {
  font-size: 1.5rem;
  margin: 16px 0 8px;
}

.property-price {
  color: #f60;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.property-location {
  font-size: 1rem;
  color: #777;
}
.book-property-form {
    margin-top: 10px;
  }
.property-card button{
    padding:5px 10px;
}
