/* .property-detail {
  display: flex;
flex-direction:column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.property-detail-image {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.property-detail-name {
  font-size: 2em;
  margin: 10px 0;
}

.property-detail-price,
.property-detail-location,
.property-description {
  font-size: 100px;
  
  height:30px;
  background:black;
}

h1{
    padding :100px;
    height:30px;
    font-size: 100px;

input{
    width: 20%;
    height:50px;
    font-size: 10px;
    margin:50px;
}
input[type='file']{
    text-align:center;
    margin:100px;
}
.txt{
    width: 20%;
    height:50px;
    font-size: 10px;
    margin: 10px;
} */
